body{
    margin: 0%;
}
h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-area{
    display: flex;
    margin-top: 0%;
}
.half-width{
    width: 50%;
    padding-left: 7%;
    padding-right: 3%;
    margin: 0%;
}
.half-width img{
    width: 80%;
}
#button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    border-radius: 5px;
    color: seashell;
    font-weight: 900;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-top: 0%;
}
p{
    font-size: 20px;
    text-align: justify;
}
h3{
    font-size: 30px;
}
.dream-added{
    margin-top: 40px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experience-added{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
h4{
    font-weight: 800;
}
.experience-added{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 40%;
    padding: 2%;
    border-radius: 15px;
    border-left:5px solid;
    border-color: blueviolet;
}